@model m6tp1_dojo.Models.Samourai

@{
    ViewBag.Title = "Dojo | Détail Samouraï";
}

<h2>Détail d'un Samouraï</h2>

<div>
    <h4>Samouraï</h4>
    <hr />
    <div>
        @Html.Partial("_SamouraiDetailsDelete", Model)
    </div>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
